<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nomie Count by Noah</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet" />
	<style type="text/css">
			body {
				font-size:20px;
				font-family:'Nunito';
        background-color:<%= color %>;
			}
			.counter-table {
				width:100%;
				height:100%;
				position:absolute;
				top:0;
				right:0;
				left:0;
				bottom:0;
				border:none;
			}
			.counter-table .header {
				color:#FFF;
			}
			.counter-table .today {
				background-color:rgba(0,0,0,0.2);
				color:#FFF;
			}
			.counter-table .yesterday {
				background-color:rgba(0,0,0,0.4);
				color:#FFF;
			}
			.counter-table .header {
				color:#FFF;
			}
			.counter-table .footer {
				background-color:rgba(0,0,0,0.6);
				color:#FFF;
				text-align:center;
			}
			.counter-table .footer .noahlink {
				font-size:2.2rem;
				text-decoration: none;
				color:#FFF;
				display:block;
				margin-bottom:5px;
			}
			.counter-table .header .content {
				text-align:center;
				font-size:3em;
				padding:20px;
			}
			.counter-table .label {
				font-size:2em;
				text-transform: uppercase;
				text-align: center;
			}
			.counter-table .value {
				width:50%;
				font-size:10em;
				text-align: center;
				font-weight:bold;
			}
		</style>
</head>
<body>
	<table cellspacing="0" cellPadding="0" class="counter-table">
		<tr class="header">
			<td colspan="2" class="content">
        <%= title %>
			</td>
		</tr>
		<tr class="today">
			<td class="label">Today</td>
      <td class="value"><%= todayCount %></td>
		</tr>
		<tr class="yesterday">
			<td class="label">Yesterday</td>
      <td class="value"><%= yesterdayCount %></td>
		</tr>
		<tr class="footer">
			<td colspan=2 style="padding:1.5rem">
				<a href="https://github.com/huberf/nomie-public" class="noahlink">Share My Numbers. <span style="text-decoration:underline">Cloud App by Noah</span></a> <br />
				<a href="https://nomie.io/?source=noahcount">
					<img height="100" src="https://cdn.nomie.io/logos/track-with-nomie-button@2x.png" />
				</a>
			</td>
		</tr>
	</table>
</body>
</html>
